[submodule "jsfs"]
	path = jsfs
	url = https://github.com/nathancarter/jsfs.git
[submodule "app/core-estimator"]
	path = app/core-estimator
	url = https://github.com/oftn/core-estimator.git
[submodule "app/jquery-splitter"]
	path = app/jquery-splitter
	url = https://github.com/jcubic/jquery.splitter.git
