*.swp
app/*.js
app/weblurch.litcoffee
app/app.litcoffee
app/*.map
node_modules/*
doc/*.litcoffee.html
doc/*.md.html
doc/test-results.md
test/reports/*
nps-jn-test
.atom-build.json
test/test-results.md
