*.swp
app/*.min.js
app/*.solo.js
app/*.duo.js
app/weblurch.js
app/app.js
app/lz-string*.js
app/weblurch.litcoffee
app/app.litcoffee
app/*.map
app/filedialog.litcoffee
app/filedialog/*.png
app/filedialog/*.js
app/filedialog/*.litcoffee
app/filedialog/*.map
app/*.duo.litcoffee
node_modules/*
test/reports/*
test/test-results.md
nps-jn-test
.atom-build.json
lean/*