
#lurch-cursor-position {
    border-left: solid 1px white;
    margin-left: -1px;
}

.lurch-cursor-visible {
    border-right: solid 1px black;
    margin-right: -1px;
}

.lurch-cursor-selection {
    background: #ddddff;
}

