
img.grouper {
    margin-bottom : -6px;
}

img.grouper {
    margin-bottom : -6px;
}

img.grouper.hide {
    width : 0px;
    height : 22px;
}

img.grouper.hide {
    width : 0px;
    height : 22px;
}
