
/* Thanks to:
 * http://www.thenoodleincident.com/tutorials/box_lesson/basic3_touch.html
 * for the original version of this file.
 * I've made small modifications (Nathan Carter).
 */

body {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-family: verdana, arial, helvetica, sans-serif;
    color: #ccc;
    background-color: #333;
    }
a {
    text-decoration: none;
    /*font-weight: bold;*/
    color:  #9c6;
    outline: none;
    }
a:visited {
    color:  #9c6;
    }
a:active {
    color:  #9c6;
    }
a:hover {
    color: #9c6;
    text-decoration: underline;
    }
.ahem {
    display: none;
    }
strong, b {
    font-weight: bold;
    }
p {
    font-size: 12px;
    line-height: 22px;
    margin-top: 20px;
    margin-bottom: 10px; 
    }

/* weird ie5win bug: all line-height to font-size ratios must agree or box gets pushed around. UPDATE: this has turned out to be very rare. my current recommendation is IGNORE this warning. at the moment i'm leaving it in only in case the issue turns up again. possibly the original bug in march 2001 was caused by an unusual combination of factors, although this solved it at the time.*/

h1 {
    font-size: 24px;
    line-height: 44px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    }
h2 {
    font-size: 18px;
    line-height: 40px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    color: #e70;
    }
h3 {
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    }
h4 {
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    }
h5 {
    font-size: 12px;
    line-height: 22px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    }
h6 {
    font-size: 10px;
    line-height: 18px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    }
img {
    border: 0;
    }
.nowrap {
    white-space: nowrap;
    font-size: 10px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
/* must be combined with nobr in html for ie5win */
    }
.tiny {
    font-size: 9px;
    line-height: 16px;
    margin-top: 15px;
    margin-bottom: 5px; 
    }
#left {
    position: fixed;
    top: 40px;
    left: 0px;
    margin: 0px;
    padding: 10px;
    border: 0px;
    background: #666;
    width: 270px; /* ie5win fudge begins */
    voice-family: "\"}\"";
    voice-family:inherit;
    width: 250px;
    }
html>body #left {
    width: 250px; /* ie5win fudge ends */
    }
#middle {
    padding: 10px;
    border: 0px;
    background: #666;
    margin: -20px 280px 0px 280px; /* ie5win fudge begins */
    voice-family: "\"}\"";
    voice-family:inherit;
    margin-top: 0px;
    }
html>body #middle {
    margin-top: 0px; /* ie5win fudge ends */
    }
#right {
    position: fixed;
    top: 40px;
    right: 0px; /* Opera5.02 will show a space at right when there is no scroll bar */
    margin: 0px;
    padding: 10px;
    border: 0px;
    background: #666;
    width: 270px; /* ie5win fudge begins */
    voice-family: "\"}\"";
    voice-family:inherit;
    width: 250px;
    }
html>body #right {
    width: 250px; /* ie5win fudge ends */
    }
pre {
    font-size: 12px;
    line-height: 22px;
    margin-top: 20px;
    margin-bottom: 10px; 
    }
.test-pass {
    color: #9c6;
}
.test-fail {
    color: #e70;
}

